body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: radial-gradient(circle, #000000, #696868);
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.90);
    border-radius: 10px;
    overflow: hidden;
}

.image-side {
    max-width: 100%;
    height: auto;
    flex: 1;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.image-side img {
    max-width: 90%;
    border-radius: 10px;
}

.form-side {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 10px;
    color: #343a40;
}

p {
    margin-bottom: 20px;
    color: #6c757d;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
